.container{
    width: 100%;
position: relative;
}
.container img {
    width: 100%;
}
.textContainer {
    position: absolute;
top: 150px;
left: 100px;
}
.textContainer h1 {
    font-size: 7rem;
    color: #696969;

}
.textContainer p {
    font-size: 4rem;
    margin-top: 20px;
    color: #696969;
}
.textContainer span {
    color: #30c0e4;
}